*{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    background: #ECC660;
    min-height: 100vh;
    width: 100%;
    position: relative;
}
header{
    width: 80%;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}
.log{
width: 40px;
}
ul li{
    display: inline-block;
}
ul li a{
    color: #fff;
    text-decoration: none;
    margin: 0px 20px;
}
.contant{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}
.contant .text{
    width: 40%;
    color: #fff;
}
.contant .text h2{
    text-transform: uppercase;
    font-size: 40px;
}
.contant .text p{
    font-size: 20px;
    margin: 20px 0px;
}
.contant .text a{
    background: #fff;
    padding: 8px 15px ;
    text-decoration: none;
    color: #111;
    border-radius: 10px;
}
.imge{
    width: 30%;
}
.imge img{
    width: 180px;
}

.icons{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.icons img{
    width: 40px;
    transition: 0.5s;
}
.icons img:hover{
    transform: scale(1.5);
}